html {
    background-color: #EAE5DF;
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: left; 
    background-color: #EAE5DF;
    overflow: hidden;
    margin-bottom: 5px;
    height: 130px;
    font-family: 'Shrikhand', cursive, serif;
  }
  
  .topnav a { 
    color: #E73D2C;
    text-align: center;
    padding: 14px 16px;
    margin-top: 90px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #01989E;
    color: #EAE5DF;
  }
  
  .topnav a.active {
    background-color: #F6C8C9;
    color: #01989E;
    margin-left: 15px;

}

section {
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
    .helloworldcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6C8C9;
    font-family: 'Shrikhand', cursive, serif;
    padding-bottom: 30px;
    padding-right: 20px;
    height: 390px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    h1 {
        font-size: 40pt;
        text-align: center;
        color: #01989E;
        padding-left: 20px;
        padding right: 20px;

        
    }
    p {
        font-size: 25pt;
        text-align: center;
        color: #01989E;
        padding-left: 20px;
        padding right: 20px;
    }

#kbpicbackground {
    display: inline-flex;
    align-items: right;
    background-color: #01989E;
    height: 520px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 30px;
}
#kristin {
    display: inline-flex;
    align-items: flex-end;
    height: 500px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

}

button {
    background-color: #EAE5DF; 
    color: #01989E;
    font-family: 'Aleo', sans-serif;
    font-weight: bold;
    font-size: 15pt;
    margin-bottom: 20px;
}

.aboutmetext {
    display: flex;
    align-self: flex-start;
    font-family: 'Aleo', sans-serif;
    font-size: 12pt;
    color: #01989E;;
}


footer {
    background-color: #F6C8C9;
    font-family: 'Aleo', sans-serif;
    color: #E73D2C;
}